<div class="flex flex-col font-serif items-center bg-white border shadow-md md:flex-row hover:bg-gray-100">
  <img class="object-cover w-5/12 h-64" src="https://flowbite.com/docs/images/blog/image-4.jpg" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
      <span class="mb-5 font-semibold text-gray-700">Lorem ipsum</span>
      <p class="mb-3 font-normal text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

      <div class="flex text-sm font-medium">
        <div class="flex space-x-4">
          <button class="px-6 h-12 uppercase font-semibold tracking-wider border border-slate-200 text-slate-900"
                  type="button"
                  routerLink="project-details">
            Read more
          </button>
        </div>
        <button class="flex-none flex items-center justify-center w-12 h-12 text-black" type="button" aria-label="Like">
          <svg width="20" height="20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
          </svg>
        </button>
      </div>
  </div>
</div>
