<div class="flex justify-center">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" class="w-9/12">
    <mat-tab label="About">
      <div class="p-10">
        <img class="object-cover w-full h-96 md:h-auto md:w-48 float-left mr-10 mb-5" src="https://flowbite.com/docs/images/blog/image-4.jpg" alt="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo amet sed nemo, tempore blanditiis earum magnam quia voluptatum cum itaque minus quasi, unde provident dignissimos consequuntur deleniti, facere animi possimus!
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Contacts">
      <div class="flex justify-center flex-col items-center mt-10">
        <div class="font-serif text-center bg-gray-50 p-10 border-black border-2 w-96">
          <div class="uppercase text-lg m-5">
            Find us here
          </div>
          <a href="#">
            www.findmyinvdemo.co.uk
          </a>
          <p>
            findmyinvdemo@gmail.com
            <br/>
            +380001234567
          </p>
          <p>
          </p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
